
@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_LayoutHome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about AAA Company that empowers young technicians to strive for high starndads.</p>
</div>
